.App {
  font-family: "Lato", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%; }
  .App h1 {
    text-align: center; }

.loginPanel {
  min-width: 20%;
  min-height: 30vh;
  align-self: center;
  text-align: center;
  border: 3px inset #148b10;
  border-radius: 55px; }
  .loginPanel h2 {
    margin-bottom: 65px; }
  .loginPanel input {
    display: block;
    position: relative;
    padding: 5px 10px;
    border: 3px inset #148b10;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3%;
    font-size: x-large; }
  .loginPanel button {
    margin: 17px 5px;
    border: 3px inset #148b10;
    border-radius: 15px;
    padding: 5px 15px;
    background: none;
    cursor: pointer; }

.sigIn {
  min-width: 20%;
  min-height: 30vh;
  align-self: center;
  text-align: center;
  border: 3px inset #148b10;
  border-radius: 55px; }
  .sigIn h2 {
    margin: 20px 0; }
  .sigIn button {
    margin: 17px 5px;
    border: 3px inset #148b10;
    border-radius: 15px;
    padding: 5px 15px;
    background: none;
    cursor: pointer; }
  .sigIn .formMessageValid {
    color: #4caf50;
    font-size: 10px;
    padding-top: 2px; }
  .sigIn .formMessageInvalid {
    color: #f44336;
    font-size: 10px;
    padding-top: 2px; }


